@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px; /* Compensa header fixo */
  }
  
  body {
    @apply bg-brand-darker text-gray-50;
  }
}

@layer utilities {
  /* Hide scrollbar for clean carousel */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}